@use '../../scss/variables' as *;

.area {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed rgba($primary-color, 0.7);
  border-radius: 28px;

  &--drag {
    background: rgba($primary-color, 0.1);
    border: 3px dashed $primary-color;
  }
}

.input {
  display: none;
}
