@use '../../scss/variables' as *;

/* Ripple effect */
.ripple {
  background-position: center;
  transition: all 0.3s linear 0.3s, background 0.8s;
}
.ripple:hover {
  background: $primary-400 radial-gradient(circle, transparent 1%, $primary-400 1%) center/15000%;
}
.ripple:active {
  background-color: $primary-300;
  background-size: 100%;
  transition: all 0.3s linear 0.3s, background 0s;
}

.fab {
  position: fixed;
  background: $primary-color;
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;

  &--add .add {
    transform: rotate(0deg);
    opacity: 1;
  }

  &--download .download {
    transform: rotate(0deg);
    opacity: 1;
  }
}

.add,
.download {
  position: absolute;
  top: 15px;
  left: 15px;
  transform-origin: center center;
  transition: all 0.3s;
  transform: rotate(-90deg);
  opacity: 0;
  width: 50%;
}
