@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

$header-height: 120px;

.app {
  width: 100vw;
  min-height: 100vh;
}

.header {
  &.header {
    position: sticky;
  }

  top: 0;
  z-index: 1;
  height: 170px;
  margin-bottom: -50px;
  pointer-events: none;
}

.main {
  position: relative;
  padding: $main-padding;
  min-height: calc(100vh - #{$header-height});
}

@keyframes upload-box-close {
  0% {
    width: calc(100% - #{$main-padding * 2});
    height: calc(100% - #{$main-padding * 2} - #{$header-height});
    background: initial;
  }
  50%,
  100% {
    width: 60px;
    height: 60px;
    background: $primary-color;
    padding: 0;
    border-radius: 50%;
  }
}

.upload-box {
  right: $main-padding;
  bottom: $main-padding;
  width: calc(100% - #{$main-padding * 2});
  height: calc(100% - #{$main-padding * 2} - #{$header-height});
  transition: opacity 0s linear 0.6s;

  &--close {
    animation-name: upload-box-close;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  &.upload-box {
    position: fixed;
  }
}

.select-box {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s linear 0.3s;

  &--show {
    pointer-events: auto;
    opacity: 1;
  }
}

.fab {
  right: $main-padding;
  bottom: $main-padding;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s linear 0.3s;

  &--up {
    pointer-events: auto;
    opacity: 1;
    @include depth(2);
  }
}
