@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.header {
  position: relative;
}

.logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-icon;
  font-size: 36px;
  @include absolute-position(0, 0, 50px, 0);

  @media only screen and (min-width: 1024px) {
    left: 50px;
    right: initial;
  }
}

.icon {
  width: 64px;
  height: 64px;
}
