$header-height: 120px;
$main-padding: 20px;

.app {
  width: 100vw;
  min-height: 100vh;
}

.header {
  &.header {
    position: sticky;
  }

  top: 0;
  z-index: 1;
  height: 170px;
  margin-bottom: -50px;
  pointer-events: none;
}

.main {
  position: relative;
  padding: $main-padding;
  min-height: calc(100vh - #{$header-height});
}

.upload-box {
  right: $main-padding;
  bottom: $main-padding;
  width: calc(100% - #{$main-padding * 2});
  height: calc(100% - #{$main-padding * 2} - #{$header-height});
  transition: opacity 0s linear 0.6s;

  &.upload-box {
    position: fixed;
  }
}
