$primary-color: #226eff;
$primary-400: #4384ff;
$primary-300: #649aff;
$accent-color: #22fff2;
$text-icon: #ffffff;
$primary-text: #212121;
$secondary-text: #757575;

$animation-speed-curve: cubic-bezier(0.25, 0.8, 0.25, 1);

$main-padding: 20px;
$select-box-max-width: 1024px;
